.search-history-item {
    line-height: 25px;
    min-height: 50px;
    max-height: 100px;
    align-items: center;
    display: flex;
    position: relative;
    width: 320px;
    max-width: 320px;
}

.album-image {
    display: block;
    width: 48px;
    min-width: 48px;
    max-width: 48px;
}

